---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="More information about me"
	pubDate={new Date("April 14 2024")}
	heroImage="/linkedin-pfp-small.jpg"
>
	<p>Student at UB.</p>
</Layout>
